@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.bg-custom {
  background-color: #111418;
}

.text-danger {
  color: #e57373;
}

.text-success {
  color: #8bc34a;
}

.text-gray {
  color: #9caaba;
}

.expense-modal .ant-modal-content {
  background-color: #111418 !important;
  padding: 0px !important;
}

.expense-modal .ant-picker-input > input::placeholder {
  color: #9caaba !important;
}
.expense-modal .ant-picker-input > .ant-picker-suffix {
  color: #9caaba !important;
}

.custom-input .ant-input-affix-wrapper {
  background-color: transparent !important;
  border: 1px solid gray;
  border-radius: 4px;
}

.custom-input .ant-input-affix-wrapper input::placeholder,
.custom-input .ant-btn .anticon {
  color: gray !important;
}

.custom-input .ant-btn {
  background-color: #B57EDC;
  border: 1px solid gray;
  color: #fff;
}

.custom-input .ant-btn .anticon svg {
  fill: #fff !important;
}



